<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- tl;dr sidebar -->
	<div th:fragment="tldr-sidebar">
		<div class="well float-left">
			<h2 class="text-center">tl;dr</h2>
			<hr></hr>
			<div class="row">
				<div class="col-lg-4 text-right">
					<b><small>Full Guide:</small></b>
				</div>
				<div class="col-lg-8 text-left" style="padding-left: 0px;">
					<a type="button" class="btn btn-link"
						onclick="location.href='https://learn.adafruit.com/kaleidoscope-eyes-neopixel-led-goggles-trinket-gemma/software'">Kaleidoscope
						Eyes</a>
				</div>
			</div>
			<hr></hr>
			<div class="row">
				<div th:replace="postFragments :: supply-sidebar-list"></div>
			</div>
			<hr></hr>
			<div th:replace="postFragments :: further-reading"></div>
		</div>
	</div>

	<!-- Supply Sidebar links and popover -->
	<div th:fragment="supply-sidebar-list">
		<div class="col-lg-4 text-right">
			<b><small>Supplies:</small></b>
		</div>
		<div class="col-lg-8 text-left" style="padding-left: 0px;">
			<ul class="list-unstyled">
				<li th:each="item : ${supplies}">
					<div th:include="postFragments :: supply-links (supplyId=${item.id}, supplyLinks=${item.links})"></div> <a
					type="button" class="btn btn-link" rel="popover" th:attr="data-popover-content='#supply-' + ${item.id}"
					th:text="${item.description}">My Popover</a>
				</li>
			</ul>
		</div>
	</div>

	<div th:fragment="supply-links (supplyId, supplyLinks)">
		<div th:attr="id='supply-' +${supplyId}" class="hide">
			<button th:each="link : ${supplyLinks}" type="button" class="btn btn-link"
				th:onclick="'location.href=\'' + ${link.linkAddress} + '\''" th:text="${link.description}">Link description</button>
		</div>
	</div>

	<div th:fragment="further-reading">
		<h2 class="text-center">Further reading</h2>
		<ul class="list-unstyled">
			<li th:each="link : ${furtherReading}" class="text-center" th:text="${link.title}">Read me!</li>
			<li class="text-center"><button type="button" class="btn btn-link" onclick="location.href='http://google.com'">This
					is useful</button></li>
			<li class="text-center"><a href="">This too</a></li>
		</ul>
	</div>

</body>
</html>