<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/clean-blog.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-image-gallery.min.css}" />
<style type="text/css">
.post-heading {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#postContainer {
  margin-left: 2%;
  margin-right: 2%;
}
</style>
<!-- Custom Fonts -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet'
  type='text/css'></link>
<title th:text="${post.title}">This be a post</title>
</head>
<body>
  <div th:replace="layoutFragments :: nav"></div>
  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" th:style="'background-image: url(' + @{${post.headerImagePath}} +')'">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading">
            <h1 th:text="${post.title}">Neopixel Goggles</h1>
            <h2 class="subheading" th:text="${post.subTitle}">They were cool, and then I lost them.</h2>
            <!--<span class="meta">Posted by <a href="#" th:text="${post.postedBy}">Charlie Hendricks</a> on <span th:text="${post.postDate}">August 24, 2014</span></span>-->
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Post Content -->
  <article>
    <div id="postContainer" class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-2">
          <div class="well well-sm float-left">
            <h3 class="text-center">tl;dr</h3>
            <div class="row">
              <div class="col-lg-5 text-right">
                <b>Full Guide:</b>
              </div>
              <div class="col-lg-7 text-left" style="padding-left: 0px;">
                <a href="https://learn.adafruit.com/kaleidoscope-eyes-neopixel-led-goggles-trinket-gemma/software">Kaleidoscope Eyes</a>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5 text-right">
                <b>Supplies:</b>
              </div>
              <div class="col-lg-7 text-left" style="padding-left: 0px;">
                <ul class="list-unstyled">
                  <li>Thing one</li>
                  <li>Thing two</li>
                  <li>Thing three</li>
                  <li>Thing four</li>
                </ul>
              </div>
            </div>
            <h3 class="text-center">Further reading</h3>
            <ul class="list-unstyled">
              <li class="text-center"><a href="">This is useful</a></li>
              <li class="text-center"><a href="">This too</a></li>
              <li class="text-center"><a href="">Read me!</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-8">
          <div th:replace="postFragments :: 'postNumber' + ${post.postNumber}"></div>
        </div>
      </div>
    </div>
  </article>
  <hr></hr>
  <div th:replace="layoutFragments :: footer"></div>
  <div th:replace="layoutFragments :: jsIncludes"></div>
</body>
</html>
