<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- post main body -->
	<article th:fragment="postBody">
		<div id="postContainer" class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-4">
					<div th:replace="postFragments :: tldr-sidebar"></div>
				</div>
				<div class="col-lg-6 col-md-8">
					<div th:replace="../posts/postBodies :: 'postNumber' + ${post.postNumber}"></div>
				</div>
				<div class="col-lg-3 col-md-4">
					<video width="100%" height="520" controls="true" loop="true" autoplay="true" muted="true">
						<source src="/img/goggles/VID_20150614_205944120.mp4" type="video/mp4"></source>
					</video>
					<span class="caption text-muted">Some sort of video</span>
				</div>
			</div>
		</div>
	</article>

	<!-- Post contents -->
	<div th:fragment="postNumber1">
		<p th:text="${post}"></p>
		<div>just temp stuff for a second</div>
	</div>
	<div th:fragment="postNumber2">
		I've found myself enamored by all the cool things <a href="">Adafruit</a> has in their learning section. I wanted to
		make so many of them. With things like {insert some links} it was tough to not go with something really crazy. Since I
		still had work to do on the <a href="">totem</a>, I figured something small and easy would be ideal. I also wanted
		something wearable to take with me to Electic Forest, so I decided to try out a pair of of the ever so <s>overdone</s>
		<s>cliche</s> popular 'steampunk' goggles. They were even so loved on Adafruit's site that they started selling <a
			href="">kits</a> with everything* necessary. No sense in arguing with the masses, right?

		<p>I'm going to go ahead and leave you with the images from the build. Adafruit has you taken care of when it
			comes to all the technical details. Thanks for checking it out!</p>

		<small>* Only includes the most basic components and a pair of costume goggles. Great if you're a beginner and
			still learning.</small>
		<h2 class="section-heading">The Journey</h2>
		<div th:each="imageIndex : ${ #numbers.sequence(0, images.size(), 3)}" class="row">
			<div class="col-lg-4">
				<a th:href="@{'img/goggles/' + ${images[imageIndex]}}" class="thumbnail"> <img class="img-responsive"
					th:src="'img/goggles/' + ${images[imageIndex]}" alt="..."></img>
				</a> <span class="caption text-muted"></span>
			</div>
			<div class="col-lg-4">
				<a th:if="${images[imageIndex + 1] != null}" th:href="@{'img/goggles/' + ${images[imageIndex + 1]}}"
					class="thumbnail"> <img class="img-responsive" th:src="'img/goggles/' + ${images[imageIndex + 1]}"></img>
				</a> <span class="caption text-muted"></span>
			</div>
			<div class="col-lg-4">
				<a th:if="${(imageIndex + 2) lt images.size()}" th:href="@{'img/goggles/' + ${images[imageIndex + 2]}}"
					class="thumbnail"> <img class="img-responsive" th:src="'img/goggles/' + ${images[imageIndex + 2]}"></img>
				</a> <span class="caption text-muted"></span>
			</div>
		</div>
		<!-- <div class="row">
			<video width="100%" height="600" controls="true">
				<source src="/img/goggles/VID_20150614_205944120.mp4" type="video/mp4"></source>
			</video>
			<span class="caption text-muted">Some sort of video</span>
		</div> -->
	</div>
</body>
</html>