<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
  <!-- Pretty much all of these need to be able to take model data in order to make them reusable. Once I get the setup correct! -->
  <!-- A lot of them probably also need to be put in their own files (or organized, anyhow) -->

  <!-- Navigation -->
  <div th:fragment="nav">
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/index}">The Place To Be</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/about}">About</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
  </div>

  <div th:fragment="postPreview (post)">
    <div class="post-preview">
      <a th:href="@{/post(id=${post.id})}">
        <h2 class="post-title" th:text="${post.title}">Neopixel Goggles</h2>
        <h3 class="post-subtitle" th:text="${post.subTitle}">They were cool, and then I lost them.</h3>
      </a>
      <p class="post-meta">
        Posted by <span th:text="${post.postedBy}"></span> on <span th:text="${post.postDate}"></span>
      </p>
    </div>
    <hr></hr>
  </div>

  
</body>
</html>