<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="../fragments/head :: head"></div>
<body>
	<div th:replace="layoutFragments :: nav"></div>
	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header" th:style="'background-image: url(' + @{${post.headerImagePath}} +')'">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="post-heading">
						<h1 th:text="${post.title}">Title</h1>
						<h2 class="subheading" th:text="${post.subTitle}">SubTitle</h2>
						<span class="meta"><span th:text="${post.postDate}">August 24, 2014</span></span>
						<!--<span class="meta">Posted by <a href="#" th:text="${post.postedBy}">Charlie Hendricks</a> on <span th:text="${post.postDate}">August 24, 2014</span></span>-->
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Post Content -->
	<div th:replace="../posts/postBodies :: postBody"></div>
	<hr></hr>
	<!-- Footer and includes -->
	<div th:replace="../fragments/footer :: footer"></div>
	
	<script>
		var $grid = $('#grid-thing').imagesLoaded(function() {
			// init Masonry after all images have loaded
			$grid.masonry({
				// options
				itemSelector : '#imageContainer',
				columnWidth : 200
			});
		});
	</script>
</body>
</html>
